@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic');

@import 'variables';

body {
  font-family: 'Droid Serif';
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

.remark-slide-content {
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.6em; }
}

.footnote {
  bottom: 3em;
  position: absolute;
}

li p {
  line-height: 1.25em;
}

.red {
  color: #fa0000;
}

.large {
  font-size: 2em;
}

a {
  color: $primary; //rgb(249, 38, 114);
  text-decoration: none;

  > code {
    color: rgb(249, 38, 114);
    text-decoration: none;
  }
}

code {
  background: #e7e8e2;
  border-radius: 5px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
  background-color: #373832;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;

  ~ p {
    clear: both;
  }
}

#slideshow .slide .content {
  code {
    font-size: .7em;
  }

  pre code {
    font-size: .8em;
    padding: 15px;
  }
}

.inverse {
  background: $primary;
  color: #777872;
  text-shadow: 0 0 20px #333;

  h1,
  h2 {
    color: #f3f3f3;
    line-height: .8em;
  }
}

// Slide-specific styling
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: .9em;
  position: absolute;
  right: 140px;
  top: 151px;

  h3 {
    margin-top: .2em;
  }

  .first,
  .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
  }

  .first {
    background: #fff;
    left: 20%;
    position: absolute;
    top: 20%;
    z-index: 1;
  }

  .second {
    background: #fff;
    position: relative;
    z-index: 0;
  }
}

// Two-column layout

.left-column {
  color: #777;
  float: left;
  height: 92%;
  width: 20%;

  h2:last-of-type,
  h3:last-child {
    color: #000;
  }
}

.right-column {
  float: right;
  padding-top: 1em;
  width: 75%;
}
