!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8',
           'http-equiv' => 'Content-Type' }
    %meta{ :content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }

    %link{ href: 'https://assets.craftacademy.se/images/favicons/favicon.ico',
           rel: 'shortcut icon', type: 'image/x-icon' }

    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %link{ href: 'https://unpkg.com/tachyons/css/tachyons.min.css',
           rel: 'stylesheet' }

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'Middleman'
    %link{ href: '//fonts.googleapis.com/css?family=Lato:300,400',
           rel: 'stylesheet', type: 'text/css' }

    = javascript_include_tag :all

  %body{ class: page_classes }
    = partial :'partials/header'
    .fl.w-100.pa2
      = yield
    -# = partial :'partials/footer'
