!!!
%html
  %head
    %title= slide_title(remark)
    = javascript_include_tag 'https://gnab.github.io/remark/downloads/remark-latest.min.js'
    = stylesheet_link_tag stylesheet
    %meta{ name: 'viewport', content: 'initial-scale=0.5' }

  %body
    %textarea#source= yield
    :javascript
      var slideshow = remark.create({
        highlightStyle: 'monokai',
        highlightLanguage: 'remark',
        highlightLines: true
      });

    :javascript
      var hljs = remark.highlighter.engine;
      hljs.registerLanguage('remark', function() {
        return {
          contains: [{
            className: 'keyword',
            begin: '^#+[^\n]+',
            relevance: 10
          }, {
            className: 'comment',
            begin: '^---?'
          }, {
            className: 'string',
            begin: '^\\w+:'
          }, {
            className: 'literal',
            begin: '\\{\\{',
            end: '\\}\\}'
          }, {
            className: 'string',
            begin: '\\.\\w+'
          }]
        };
      });
