%footer.pv4.ph3.ph5-m.ph6-l.mid-gray
  %small.f6.db.tc
    © 2016
    = succeed '.,' do
      %b.ttu Craft Academy
  .tc.mt3
    %a.f6.dib.ph2.link.mid-gray.dim{ href: '/terms/', title: 'Terms' }
      Terms of Use
    %a.f6.dib.ph2.link.mid-gray.dim{ href: '/privacy/', title: 'Privacy' }
      Privacy
