%nav.db.dt-l.w-100.border-box.pa3.ph5-l.bb.b--black-10
  %a.db.dtc-l.v-mid.mid-gray.link.dim.w-100.w-25-l.tc.tl-l.mb2.mb0-l{ href: "/", title: 'Home' }
    %img.dib.h2{ alt: 'Craft Academy Slides',
                 src: 'https://assets.craftacademy.se/images/logo/ca_basic_logo_320x40.png' }
  .db.dtc-l.v-mid.w-100.w-75-l.tc.tr-l
    %a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l{ href: 'http://class.craftacademy.se', title: 'edX' } edX
    %a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l{ href: '//craftacademy.se', title: 'Visit Website' } Visit Website
